<?xml version='1.0' encoding='utf-8'?>
<widget id="se.vbk.inventeringsverktyg" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>1Inventeringsverktyg</name>
    <description>
        VBK Inventeringsverktyg
    </description>
    <author email="bolin.jonas@gmail.com" href="">
        Jonas Bolin, 0727 388 756
    </author>
    <content src="index.html" />
    <access origin="http://fonstertitt.appspot.com/submit" />
    <access origin="*" />
</widget>
