body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.form-control {
  max-width: 200px;
  margin-top: 15px;
  margin-bottom: 25px;
}

a.add.add_rd {
	margin-left: -30px;
}